body{
	margin: 0;
	padding: 0;
	font-family: trajan pro;
	background:#09c863;
	background-size: cover;
}

.container{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 50px auto;

}
.container .box{
	position: relative;
	width: calc(400px - 30px);
	height: calc(380px - 30px);
	background: #00314c;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	transition:.5s;
}

.container .box:hover{
	box-shadow: 5px 10px #fff;
}

.container .box .icon{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #1d5f7f;
	transition: 0.5s;
	z-index:1;
}

.container .box:hover .icon{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.container .box .icon .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;
}
.container .box:hover .icon .fa{
	font-size: 40px;
}
.container .box .content
{
	position: absolute;
	height:calc(100% - 100px);
	text-align: center;
	margin-top:130px;
	margin-left:5px;
	margin-right:5px;
	box-sizing: border-box;
	transition: 1s;
	opacity: 0;
}

.container .box:hover .content{
	opacity: 1;
}

.container .box .content h3{
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 24px;
	font-family: trajan pro;
}
.container .box .content p{
	margin: 0;
	padding: 0;
	color: #fff
}

.info{
	padding:0;
	margin-left:100px;
	color: White;
	width:900px;
}

.txt{
	position: relevant;
	width:800px;
	padding: 0;
	margin-left:100px;
	color:#fff;
	font-size: 50px;
	transition:.5s;
}

.txt:hover{
	color: #045e2e;
}

.container .box:nth-child(1) .icon
{
	background: #ee5627;
}
.container .box:nth-child(1) 
{
	background: #7c2206;
}
.container .box:nth-child(2) .icon
{
	background: #165fe5;
}
.container .box:nth-child(2) 
{
	background: #052b6f;
}
.container .box:nth-child(3) .icon
{
	background: #e20f81;
}
.container .box:nth-child(3) 
{
	background: #970956;
}

.menu-bar
{
	background: rgb(0,0,0);
	text-align: center;
}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-bar ul li
{
	width: 198px;
	margin: 5px;
	padding: 5px;
}

.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}

.active, .menu-bar ul li:hover
{
	background: #ccced7;
	border-radius: 3px;
}

.sub-menu1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu1
{
	display: block;
	position: absolute;
	background: rgb(58,63,69);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu1 ul
{
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child
{
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
	color: #ccced7;
}

.d{
	margin-top:40px;
	width:1349px;
	height:30px;
	background-color: rgba(2,45,22,1);

}
.inbg{
	background: #058843;
	width:1200px;
	margin-left:78px;
}
.in{
	text-align:center;
	color: black;
	font-family:Trajan pro;
	font-size:20px;
	transition:.5s;
}

.in:hover{
	color: white;
}

.listen{
	color:white;
	font-family:sans-seriff;
	display: block;
	padding:0;
	font-size:75px;
}

.tube{
	display: block;
	margin-top: 50px;
	margin-left: 45px;
}

.book{
	margin-left:165px;
	margin-top:80px;
	width: 1000px;
	height:70px;
	background: white;
	border-radius:50px;
	position:relevant;
}

.bks{
	border-radius:5px;
	align-items:center;
	background:white;
	margin-left:58px;
	width:250px;
	height: 50px;
	display:inline-block;
	box-sizing: border-box;
	box-shadow:0 0 0 0;
	transition:.5s;
}
.bks .title{
	padding:18px;
	text-align:center;
	color:white;
	transition:.3s;
}

.bks .title:hover{
	margin-top:0px;
	padding:13px;
	font-size:20px;
}

.bks:hover{
	border-radius:50px;
	box-shadow:0px 30px 30px #000;
	background:#045e2e;
}

.bg{
	background:rgba(255,255,255,.2);
	height:300px;
}

a{
	text-decoration: none;
	color:white;
}

.foot{
	text-align:center;
	color:white;
}

.l{
	margin-left:80px;
	padding:10px;
}

input[type="submit"]
{
	border: none;
	width:80px;
	outline: none;
	height: 40px;
	background:#07a853;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
}

input:hover{
	border: 2px solid white;
	background:#035d2e;
}
